REACT_APP_SUPABASE_URL=https://futrjutgrfltghehrjic.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1dHJqdXRncmZsdGdoZWhyamljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3ODAzMjUsImV4cCI6MjA4OTM1NjMyNX0.hdB0JOGUvD-pW6slFmh0xR0t0bPgNaz28W5qCKwMQkQ
